<%- include('head') %>
    <form action="<%= action %>" method="POST">
        <p>
            <label>ID: <input type="text" name="id"></label>
        </p>
        <button type="submit">Submit</button>
    </form>
<%- include('tail') %>