<%- include('head') %>
      <a href="/all"><button>Get all computers</button></a>
      <a href="/getOne"><button>Get a computer</button></a>
      <a href="/add"><button>Add a computer</button></a>
      <a href="/update"><button>Update a computer</button></a>
      <a href="/remove"><button>Remove a computer</button></a>
    </main>
</body>
</html>