<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="styles/basicStyles.css">
  </head>
  <body>
    <main>
      <h1><%= header1 %></h1>
      <form action="<%= action %>" method="POST">
        <p>
          <label for="id">Employee ID:</label>
          <input type="text" id="id" name="id" size="5" />
        </p>
        <button type="submit">Submit</button>
      </form>
      <a href="/"><button>Go to menu</button></a>
    </main>
  </body>
</html>
